@use "../../styles/mixins" as *;
@use "../../styles/variables.scss" as *;
@import "../../fonts/fonts.scss";

.main-page__title {
  @include title();
  font-family: $fo;
}
.bord {
  border: 1px solid black;
}

.main-card {
  margin-top: 100px;
  padding-top: 80px;
  background-image: url(../../../public/images/ourBest.png);
  padding-bottom: 110px;
  margin-bottom: 30px;
  background-size: cover;
}
@media (max-width: 760px) {
  .main-card {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 0px
  }
}
.main__title {
  @include title();
}
.main__text {
  @include content();
  font-size: 14px;
}
.card-text {
  @include cardText();
}
.card-prise {
  @include cardText();
  font-weight: 700;
}
.main-container {
  max-width: $container;
  margin-left: auto !important;
  margin-right: auto !important;
}
