$fo: "Shantell Sans";
$ft: "Merienda";
$red: red;
// мейн контейнер
$container: 832px;
// Контейнер для товара
$productContainer: 892px;
$contPad: 16px;
/*
контейнер для картинки кофе и линий по бокам 
*/
$coffeContainer: 200px;
/*
кофе навигация, деать через maxWidth и скрыть картинку
*/
$coffeNav:392px;
// мейн навигация хедер
$containerHeadervav:1174px;
// главный контейнер
$container:1440px;