@font-face {
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./ShantellSans-Regular.woff2) format("woff2"), url(./ShantellSans-Regular.otf) format("otf");
}
@font-face {
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./ShantellSans-Bold.woff2) format("woff2"), url(./ShantellSans-Bold.otf) format("otf");
}
@font-face {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Merienda-Regular.woff2) format("woff2"), url(./Merienda-Regular.otf) format("otf");
}
@font-face {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Merienda-Bold.woff2) format("woff2"), url(./Merienda-Bold.otf) format("otf");
}
